.card__first-side, .card__second-side {
    display: none;
    width: calc(100% - 140px);
    max-width: 900px;
    height: calc(100vh - 290px);
    max-height: 600px;
    margin:  100px auto;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    cursor: pointer;
}

@media (min-width: 768px) {
    .card__first-side, .card__second-side {
        font-size: 50px;
    }
}

.card__first-side.active, .card__second-side.active {
    display: flex;
}

.card__first-side {
    background-color: aquamarine;
}

.card__second-side {
    background-color: bisque;
}

img {
    width: auto;
    max-width: calc(100% - 20px);
    height: auto;
    max-height: calc(100vh - 420px);
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: dimgray;
}